[2022-03-24 04:13] chenjianpeng97 opened #1 "King dead body won't be deleted from map"
When Kill dead his body will just stand there.

[2022-04-07 18:25] okayjacob opened #2 "Modification adjusts starting angle of game"
I'm unsure if this is intentional, but I've noticed when using this mod the starting camera angle is adjusted from default expectations.

[2022-04-07 18:26] okayjacob opened #3 "Spawn King/Keep setting is reversed"
The "Spawn Keep" checkbox spawns a King and the "Spawn King" checkbox spawns a Keep.

[2022-04-07 18:30] Woprok commented on #3
Thanks, Fixed should be uploaded in hour

[2022-04-07 18:30] #3 closed

[2022-04-07 18:37] Woprok commented on #2
I am sure that camera angle is same as in normal game. Maybe its because buildings are spawned with wrong rotation ? So it looks different, this is on my list to fix.

[2022-04-07 19:46] Gladifin opened #4 "Game Simulation Speed - FPS"
Hi, i dont know how much is possible to do/fix. But slower speed unit fps is kinda horrible its like whole game lagging, is there anything that can be done to that or is it because of how game itself works?
E: In internet play

[2022-04-07 20:02] Gladifin commented on #4
Actualy it feels like game speeds dont work at all, even faster ones just lags and dont be rly faster.

[2022-04-07 20:48] Woprok commented on #4
@Gladifin I cant do anything with that. That will be server lockstep issue to prevent desync,

[2022-04-07 20:58] Woprok commented on #4
Game is not capable of altering simulation speed, amount of ticks in multiplayer environment. As this is only a mod, option for faster simulation is left in mainly for solo pve.
It's not possible for me to fix it as this issue is created by server / multiplayer connection that does not support faster ticks.

[2022-04-07 20:58] #4 closed

[2022-04-07 22:09] okayjacob commented on #2
Here's some screenshots to help.

This is how the game spawns in with the mod...
<img width="759" alt="image" src="https://user-images.githubusercontent.com/1319337/162327660-29d00616-1017-4774-b0e8-1e17f4c05771.png">

I'm expecting it to spawn in like this....
<img width="814" alt="image" src="https://user-images.githubusercontent.com/1319337/162327722-e6c8f7da-e2c6-4c6f-8232-ef282088a92f.png">

[2022-04-07 23:39] Woprok commented on #2
@okayjacob it should be fixed now

[2022-04-07 23:39] #2 closed

[2022-04-08 10:13] Woprok opened #5 "Nomad - Max Dark Age - Impossible"
Game cant be played in dark age only combined with nomad as players cant build TC.

[2022-04-08 10:15] Woprok opened #6 "Regicide - AI problems"
AI problems are known, but this falls on Relic to fix. As we dont have proper AI api at the moment

[2022-04-08 19:35] clichekid opened #7 "Request: "Solidarity Mode""
Love the direction of this mod and would make my own other than I know nothing of coding and game modes require the most expertise.. but I think a toggle that causes a whole team to be eliminated if 1 team member is eliminated would fit well within the scope of this mod and be a welcomed addition. I believe this only affects Landmarks (though I suppose Regicide now). Implement or disregard at your

[2022-04-08 20:49] Woprok commented on #7
Thats definitely interesting idea worth exploring. Through it would work only without diplomacy as that breaks team functionality completely. Should it also kill them if one of the players surrenders ? or only he is eliminated ?

It would probably work best as pseudo wincondition that checks on player defeated, might do iit once I am sure that current version is stable enough for more features.
`l

[2022-04-08 21:26] MaxAlex200 opened #8 "Request: Change Player Colors"
I attempted to do this myself, but there kept being errors in my code. Your mod is awesome and has so many options. Could you add the ability to change player color? The more the better. I attempted to do it with hex colors #1d1d1d [black] but haven't gotten it to work yet.

[2022-04-08 22:24] clichekid commented on #7
Agreed; Diplomacy would more or less nullify this mode since Diplomacy is organized free-for-all (my understanding of it, at least) and don’t see any point in Solidarity co-existing as Diplomacy is about fragile cooperation. This would only apply to organized team games.
It should eliminate a team if player is annihilated or surrenders. Open to a different opinion and can see it both ways, but the

[2022-04-09 14:57] MaxAlex200 commented on #8
![PlayerCol](https://user-images.githubusercontent.com/99284302/162579488-b1da73f4-499c-4d33-946c-11fd149fcd1a.jpg)
I found that they exist in tuning_simulation, but was not able to clone the file or change the parameters.

[2022-04-09 21:30] MaxAlex200 commented on #8
![Black](https://user-images.githubusercontent.com/99284302/162592198-c39750d4-52ea-40e5-9cde-11be583a06ab.jpg)
I still haven't figured out how to change the shadows or minimap color or to build a dropdown box with this. But I went to paint and paint scheme and was able to change it.

[2022-04-09 23:37] Woprok commented on #6
This now has partial fix / hack that forces kings to be garrisoned at the start of the game. For Mongol AI play only with starting keep, as there is no other building to place king at the start.

[2022-04-09 23:37] #6 closed

[2022-04-10 03:54] MaxAlex200 commented on #8
https://steamcommunity.com/sharedfiles/filedetails/?id=2792060996

[2022-04-10 03:58] MaxAlex200 commented on #8
![mod](https://user-images.githubusercontent.com/99284302/162600835-212bbc0a-9752-4d96-a743-e55da5bfc27b.png)
Burgundy

[2022-04-10 12:15] MaxAlex200 commented on #8
![mod](https://user-images.githubusercontent.com/99284302/162617565-0ae9265d-be88-40dc-9c2d-61e1dc3239c4.png)
Play as Gold

[2022-04-10 12:16] MaxAlex200 commented on #8
![mod](https://user-images.githubusercontent.com/99284302/162617618-d853550d-54b4-44f8-b8f4-e87af3a8a737.png)

[2022-04-10 15:56] Woprok commented on #7
@clichekid Should be added in next update that will be uploaded in few hours.

[2022-04-10 15:56] #7 closed

[2022-04-12 02:21] Legion75 opened #9 "Sync Erro"
Hi, i got a problem, every time i create a custom game with the mod i get a sync-error, it has a fix or i cant use de mod on multiplayer? thanks

[2022-04-12 07:14] Woprok commented on #9
@Legion75 can you provide more info about selected settings?

It is supposed to work in mp

[2022-04-12 09:31] Woprok commented on #9
I uploaded new version, that fixes another issue, which might be related to this, so try it again and give detailed description if problem appears again.

[2022-04-12 17:18] Legion75 commented on #9
i tried alone with bots and new version and worked

[2022-04-12 17:34] Woprok commented on #9
@Legion75 yeah there was issues with bots in multiplayer game, I do not have a way to test real multiplayer game as adding bots to mp lobby does not count unless another human player is involved.

[2022-04-12 18:36] Woprok commented on #9
@Legion75 Its fixed, bots should no longer crash multiplayer

[2022-04-12 18:36] Woprok commented on #9
if any problems appear let me know

[2022-04-13 08:09] MarekDeMarko opened #10 "Request: AoE2 Sudden death mode"
Greetings!
Would it be possible to recreate Sudden death mode/option from Age of Empires 2? As Main Town Centers already act as essential buildings for landmark objective, so would it be possible to lock town center building, so only 1 town center can be built? (not counting landmarks like Palace of Swabia)

[2022-04-13 14:14] Woprok commented on #10
Hi, it will now appear as option. Additional TCs are disabled.

[2022-04-13 14:14] #10 closed

[2022-04-13 16:05] Woprok opened #11 "Evaluate scripting options for persisting destroyed entities"

[2022-04-13 18:32] MarekDeMarko commented on #10
Greetings! Yes, today after update I saw it added.
Thank you very much! And good luck on the future works!

[2022-04-14 10:40] auximalia opened #12 "Game crashed with "Bad Data Mod" Exception, sometimes immediately, sometimes after a few minutes"
![image](https://user-images.githubusercontent.com/88620093/163371085-2749b6e8-828a-406c-9fb6-9cb57b1d63e7.png)
![image](https://user-images.githubusercontent.com/88620093/163371577-f1409952-d175-4d3c-9ff9-940579228425.png)
![image](https://user-images.githubusercontent.com/88620093/163371634-b4576717-a5c6-4fd5-9e23-25d0c7d2a134.png)
![image](https://user-images.githubusercontent.com/88620093/1633

[2022-04-14 12:43] Woprok commented on #12
@auximalia
I pushed small update, based on error I was able to find in my short testing.  If it happens again provide me with map, map seed & civilizations as this might be specific to certain conditions.

[2022-04-16 18:30] MarekDeMarko opened #13 "Bug: Villagers cannot drop resources at Town Center in Sudden Death mode"
Greetings!
After playing for some rounds of Sudden Death mode, I spotted, that villagers (both player and AI) sometimes do not drop resources at TC from specific angles. I am not 100% sure if it is because of Sudden Death mode, but I spotted this issue after I tried new mode. AI players often use TCs to drop off resources and in result they do no develop as their villagers stand near TC holding fo

[2022-04-16 19:12] Woprok commented on #13
Hard to say, it might be something related to game as a whole. There is no good reason for a game mode to break villager dropping resources and there is still bug with gathering, so its most likely related to issues introduced in the recent patch.

It is possible to disable in other modes, will be add later, once I have time to rewrite conquest victory condition to be parametrized.

[2022-04-18 18:21] auximalia commented on #12
@Woprok : Thanks a million for your respons! Your Mod is the most important one at all ;-)
I will have a try - and I will follow your instructions should an error occur.
Best greetings from Dresden

auxi

[2022-04-20 21:22] ObiOneStenobi opened #15 "Destroyable Trees causes fatal scar error"
![Age of Empires IV Screenshot 2022 04 20 - 23 17 54 48](https://user-images.githubusercontent.com/26001920/164324991-faf8e3c9-645a-40a0-a09b-1b410030b278.png)
I've attached the console error.

[2022-04-21 05:20] J2583 opened #17 "RevealSpawn is required for the Mongol AI to function"
The Mongol AI does nothing if there isn't a stone deposit within its vision at the start of the game. In the current code you don't reveal the area around the player with AGS_RevealSpawn, so most of the time they can't see their nearest stone deposit. Alternatively, it might be possible to adjust the AI so that it scouts around at the start of the game, or get Relic to do that. Currently, if you l

[2022-04-21 11:08] Woprok commented on #17
So basically Mongol AI requires map hacks to even function. How did this AI ever got approved as being good enough...
I feel like best fix is to reveal all stone outcrops to Mongol AI so she can always select one. There might be edge case where stone spawns outside of reveal radius as the radius is barely bigger then TC vision.

AGS_RevealSpawn will be fixed for settled start to activate.

[2022-04-21 11:08] #17 closed

[2022-04-21 19:51] Woprok commented on #15
@ObiOneStenobi Thanks for reporting, issue will be fixed in next update.

[2022-04-21 19:51] #15 closed

[2022-04-22 13:49] Jem-Satan opened #18 "Error fatal scar error - execution paused"
my game keeps getting this error when i do custom matches using advanced settings mod.
when warships shoot cannons and hit / kill an enemy target, when keeps fire cannons, etc.
message pops up fatal scar error - execution paused and i hit escape and resume to "fix" it, some times it happens and itll continue to keep popping up will the point of hitting esc and resume will not fix it at all.

 - iv

[2022-04-22 16:07] Woprok commented on #18
@Jem-Satan
Issue will be fixed in next update, It's related to destructible trees, disabling it should fix the issue in meantime.

[2022-04-22 16:07] #18 closed

[2022-04-22 16:07] Woprok commented on #11
Not possible atm

[2022-04-22 16:07] #11 closed

[2022-04-22 16:16] Jem-Satan commented on #18
cheers mate, thanks for the quick response 👍 ill try disabling destructible trees in the mean time.

[2022-04-25 07:53] Seicing opened #19 "I made a zh-hans locals csv"
If possible, I would like to be able to integrate into the mod
[Advanced Game Settings_zh-hans.csv](https://github.com/Woprok/AOE4-AdvancedGameSettings/files/8552734/Advanced.Game.Settings_zh-hans.csv)

[2022-04-25 11:52] ObiOneStenobi opened #20 "Request: Is it possible to add friendly fire from aoe damage?"

[2022-04-25 15:59] Woprok commented on #20
It's probably possible, but gamemode is not good place for it. Its much easier to create tuning pack that does it.

[2022-04-25 16:03] Woprok commented on #13
TCs in settled start will no longer be spawned as I now have full control over victory conditions to modify their checking.

This should fix issue that causes villagers to be unable to drop off resources on spawned TCs. If problem persists then its big in normal game as well.

Option to disable TCs is now separated from victory conditions.

[2022-04-25 16:03] #13 closed

[2022-04-25 18:52] ObiOneStenobi commented on #12
I have found another bug that causes the same error. To easily trigger it, just save the game. (otherwise it will trigger later in game).
It happens while using China. (I've not tested with all factions, only french and english and it works perfectly
![Age of Empires IV Screenshot 2022 04 25 - 20 43 48 89](https://user-images.githubusercontent.com/26001920/165154788-12a3daa9-0d9f-4c53-8056-07733c5

[2022-04-25 19:07] Woprok commented on #19
@Seicing Hi, its definitely possible. You will need to update it once I finish next update.

[2022-04-26 03:54] Seicing commented on #19
yes，I will keep it update

[2022-04-27 05:34] Seicing commented on #19
[Advanced Game Settings_zh-hans.csv](https://github.com/Woprok/AOE4-AdvancedGameSettings/files/8569106/Advanced.Game.Settings_zh-hans.csv)

Update for current version

[2022-04-28 23:10] Woprok commented on #5
fixed in next update

[2022-04-28 23:10] #5 closed

[2022-04-29 21:36] Woprok commented on #1
That would require tuning pack and this mod is for now only game mode. Hopefully relic will give king death animation. King still despawns after 19 seconds.

[2022-04-29 21:36] #1 closed

[2022-05-02 19:55] Boetjebreed opened #21 "Request"
There is a team balancer mod on ao4 but I can't play nomad teams with it could you make a team Balencer mode in your mod so I can use it in nomad teams ?

[2022-05-02 21:41] Woprok commented on #21
![image](https://user-images.githubusercontent.com/37557138/166332036-787cfad0-72dd-493e-ab87-ab89f3062b0f.png)
It's already planned along other options that will be added in next update. Hopefully it will be this week, but It's lot of work as I rewrote pretty much whole mod, so I could easily integrate features and fix bugs.

[2022-05-02 21:58] J2583 commented on #17
You should be able to revert this now if you haven't yet, I haven't retested it yet but the latest game patch should have fixed it: "AI will use Khan as scout at the start of the game to find stone deposits faster and place its Ovoo on it"

[2022-05-03 11:16] Woprok commented on #17
This means that AI will still act incorrectly in nomad without khan.

[2022-05-03 18:42] Helly0000 opened #22 "AGS_WONDER_MODULE doesn't Register"
I built the MOD from the latest commit. Then I found there is no things about wonder. I can't build a wonder nor see any winning condition about a wonder.  I open the dev mode however I can't find any log about registering AGS_Wonder.

![image](https://user-images.githubusercontent.com/35934370/166520577-3d7d1a81-c4d6-4f60-9d7b-e5980b561d02.png)
![image](https://user-images.githubusercontent.com/3

[2022-05-03 23:58] Woprok commented on #22
Wonder should now be once again registered as I just finished rewriting it. Definitely it will not work as intended as I did not have time to debug it yet.

Currently disabled as they need to be updated/rewritten are: Religous, Treaty, Tributes&Diplomacy, Team Vision,
Not implemented is Team Balance, Score and Wonder Cost

[2022-05-04 06:56] Helly0000 commented on #22
Thank you, my friend! How can I enable it though I fully understand it is not completed? I want to run the code anyway for learning purpose.

[2022-05-04 10:20] Woprok commented on #22
Entry point for game mode is ags_game_mode.scar, but all it does currently is importing ags_cardinal.scar.
AGS_Cardinal contains main delegate calls done by game and in each he calls my own calls, so I can have more control over how module do their things. AGS_Cardinal also imports every module, so all disabled are just commented out there.

All options are part of some module, generally it's 1:1

[2022-05-04 15:32] mellester opened #23 "Diplomacy is a bit broken."
Diplomacy is broken in a few different ways.

1 There is no lastman standing option.
The game is over the moment a single player allies everyone that is alive they win and the other player's loose.
Colors on the minimap are messed up with colors in game.
This also means you get the wrong line of sight.

[2022-05-05 19:22] Woprok commented on #8
@MaxAlex200
First If it looked like I ignored it then that was not true, I was aware of this, but it had very low priority as Its coming officially by Relic in summer update.

Gamemode script cant change attribute values, so the only thing I could add is swapping of existing colors.

As gamemode is unable to change player slot UI or add new elements to it, its really limiting to add player specifi

[2022-05-05 19:22] #8 closed

[2022-05-08 14:53] Woprok commented on #19
@Seicing I finished update for the mod, if you could update localization, I would appreciate it.

[2022-05-08 14:54] Seicing commented on #19
i will made it immediately

[2022-05-08 15:46] Seicing commented on #19
[Advanced Game Settings_zh-hans.csv](https://github.com/Woprok/AOE4-AdvancedGameSettings/files/8647299/Advanced.Game.Settings_zh-hans.csv)
Done

[2022-05-08 15:56] Seicing commented on #19
[Advanced Game Settings_zh-hans.csv](https://github.com/Woprok/AOE4-AdvancedGameSettings/files/8647323/Advanced.Game.Settings_zh-hans.csv)
done，Maybe need a little correction after the actual test

[2022-05-08 17:24] Seicing commented on #19
[Advanced Game Settings_zh-hans.csv](https://github.com/Woprok/AOE4-AdvancedGameSettings/files/8647451/Advanced.Game.Settings_zh-hans.csv)
finished and tested

[2022-05-08 19:09] Woprok commented on #23
@mellester I updated mod, so let me know how bad it is now :)

[2022-05-08 20:12] Woprok commented on #19
@Seicing I think I was finally able to upload the mod... Check if it works ingame.

[2022-05-08 20:29] Seicing commented on #19
I try to update but it crashed，Localization seems have a problem

[2022-05-08 20:42] Seicing commented on #19
working correctly now, excellent work!

[2022-05-09 09:17] ahioz9426 opened #24 "The wooden wall blocks AI's way out【BUG】"
If the initially generated wooden wall just blocks the AI's way out, it will not build a door to come out

[2022-05-09 12:36] chifeiyen commented on #19
[Advanced.Game.Settings_zh-hans.csv](https://github.com/Woprok/AOE4-AdvancedGameSettings/files/8651623/Advanced.Game.Settings_zh-hans.csv)

Hello @Woprok @Seicing,
I have fixed and adjusted parts of translation and format of the Simplified Chinese text.
Attached is my updated file, for your check. Thanks!

[2022-05-09 13:08] Seicing commented on #19
good

[2022-05-09 19:22] Woprok commented on #12
@auximalia @ObiOneStenobi I am not able to replicate it on current version that I am about to push out. If you are able to cause it again let me now. I will close this. Create new issue if you can make it happen again.

[2022-05-09 19:22] #12 closed

[2022-05-10 02:57] PeersKyBR opened #25 "Me and my friends can't use the mod"
"Downloaded mod was corrupted"
Can't download anymore, neither activate.
I've reinstalled the game, and still persists.
I'm reporting because this is the best MOD this game ever had. And I plan to help you translate into Brazilian Portugues
![bug](https://user-images.githubusercontent.com/105245879/167533728-28fe60c8-6b4c-4a07-a7d3-ccbfd03ed633.png)
e

[2022-05-10 03:45] ahioz9426 opened #26 "After limiting the upper limit of the era, AI does not evolve era【BUG】"
For example, if I limit the era to Age3, AI will always stay at age1 or age2, and its desire to upgrade the era will be significantly reduced.

[2022-05-10 03:46] ahioz9426 commented on #24
One or more doors need to be added while automatically generating wood walls

[2022-05-10 07:50] Woprok commented on #24
I am aware of this, but I was not yet successful with creating a gate on a wall as the functions available for spline structures are extremely limited, thats also reason why walls are sometimes incomplete.

[2022-05-10 07:52] Woprok commented on #25
Whenever you report mod it disappears once you restart the game.
I suggest you to create forum post and/or ask for technical support from Microsoft and Relic.

Sorry, I can't help with that other than pointing out that Microsoft Store & Gamepass users can can log in to official page and browse mods there, potentially subscribing to reported mods. [Webpage](https://www.ageofempires.com/mods/mods-se

[2022-05-10 08:13] Woprok commented on #26
I tried to play against most capable AI == Delhi Sultanate and it looks like AI ages up normally, when I only disabled imperial age and speed up game simulation (doesnt affect behavior in any way).

AI is really bad and takes forever to reach later ages. Generally it should reach age 2 around 6 minute mark. But if you use anything that spawns additional villagers or buildings/walls AI will take lo

[2022-05-10 08:47] Seicing commented on #19
same problem as before crashed.

[2022-05-10 09:20] Woprok commented on #25
@Jem-Satan @PeersKyBR I was able to finally upload it after trying like 15 times and it downloads to me correctly. Try it again.

[2022-05-10 09:29] Woprok commented on #19
@Seicing crashing ? I am ware it was not possible to download it, but that should work now

[2022-05-10 09:31] Seicing commented on #19
no crash in gaming，just can't download it，my description is wrong

[2022-05-10 09:32] Woprok commented on #19
At least its fixed until I try to push next update and mod breaks again 😢

[2022-05-10 09:35] Seicing commented on #19
it works correctly now，Thanks for the quick fix

[2022-05-10 10:16] w3k5 opened #28 "Russian translate"
Hello!
I've translate your mode into Russian language. Can you compare it with your mode and merge it?
https://github.com/Woprok/AOE4-AdvancedGameSettings/pull/27

[2022-05-10 11:00] Woprok commented on #28
It looks like few lines are not translated:

2
3
22
23
26
54
55
56
57
58
59
60
87
88
91
92
93
94
231 is wrong as its split on two lines
262

Please translate remaining lines, thanks.

[2022-05-10 11:42] w3k5 commented on #28
Fixed all problems

[2022-05-10 11:44] w3k5 commented on #28
Can I Add additional information, that I made that translation in description?

[2022-05-10 11:49] Woprok commented on #28
@w3k5 Yes you can, I have no problem with that.

[2022-05-10 11:53] w3k5 commented on #28
Added my github in description.
Checked mod on Windows in Mode Editor everything is ok, without errors.

[2022-05-10 15:56] Woprok commented on #28
Ok I checked it again and found last few missing translations.

74 Instant
199 Ding
243 Empowered King

I will merge it once you fix it. I am not sure when will I update the mod yet. Most likely when I have few more changes as it's currently not simple to update as my game crashes more often on update mod then not.

[2022-05-10 15:59] w3k5 commented on #28
@Woprok can you say what mean "Ding"? And what do Empowered King?

[2022-05-10 17:01] Woprok commented on #28
Ding is only easter egg as all it does is using TextToSpeech to be annoying whenever you click on TC/Villager

Empowered King gives king unit additional armor, health, movement speed, 4 active abilities, 1 passive aura that increases damage and armor of allied units within radius

[2022-05-10 17:45] w3k5 commented on #28
@Woprok thanks, edited.

[2022-05-10 19:27] PeersKyBR commented on #25
Sorry, I've never reported ingame.
I meant reported = post here in GitHub

[2022-05-10 19:34] Woprok commented on #25
Sorry, I just copy pasted answer I gave to someone on reddit as it was very similar.

[2022-05-10 19:35] #25 closed

[2022-05-11 06:51] #28 closed

[2022-05-12 00:33] fupespace opened #30 "Not enough relics are spawning"
Was playing a 2v2v2v2 match on Mega Random crafted map and only 5 relics spawned. This happened three more times and all games had 8 players. Its not the crafted map that has the issue because all relics spawn when using other mods.

Thanks in advance.

[2022-05-12 08:13] cliffture opened #31 "44 Nomad 6villager 250pop, this gamesetting carshed at time 1:00"
Hi there, I met this issue every time I tried. So sad, looking forward to solve it.
“**Synchronization error detected**“，and the game crashed.

[2022-05-12 08:22] Woprok commented on #31
@cliffture Can you give little more info ? I am aware that my mod for some unknown reason desyncs, so I am trying to pinpoint exact problem. Does it happen with scattered randomly around the map or with villagers grouped at the start location without TC ? Or with both ? Any other settings that was active ?

[2022-05-12 08:23] Woprok commented on #30
Interesting I will try to figure out why its happening.

[2022-05-12 09:21] Woprok commented on #30
@fupespace I looked at it, and there is no reason for Relics to disappear from the map when my mod is active.

I never despawn relics or even touch them. It looks like this issue is with megarandom generation as I am not even able to replicate the map from seed where it happens based on replay I watched.

I suggest you to report this to Relic as it's definitely issue with map generation

[2022-05-12 09:21] #30 closed

[2022-05-12 13:54] cliffture commented on #31
It works well with AI only. But it crashed when I play with other players. I choosed Mega Random Map and this mod,  here are my Settings.
![1](https://user-images.githubusercontent.com/26118456/168090906-f418e9d4-c173-4908-b8c2-9b04f3d0df65.png)
![2](https://user-images.githubusercontent.com/26118456/168090940-02b42490-693b-46be-bbf8-ca91150bd384.png)
![3](https://user-images.githubusercontent.com

[2022-05-15 16:12] Helly0000 opened #33 "How can I change the GUID?"
I found there was some conflict between the mod I built from GitHub and the mod from the game. It would break the localization strings, causing words missing or garbled. I am not very sure where is the problem and I guess it is the GUID. But how can I change the GUID? It seems to be fixed when the mod is created and I didn't find any options to change it. I find a string "64c5019a145c4e4da448dbd3a

[2022-05-15 16:46] Woprok commented on #33
It's mod ID
https://github.com/Woprok/AOE4-AdvancedGameSettings/blob/master/Advanced%20Game%20Settings.aoe4mod

[2022-05-15 16:47] Woprok commented on #33
You can try to change it, but its not really worth it. Local copies of the mod dont interfere with published version of the mod.

[2022-05-15 16:48] Woprok commented on #33
But if you are using part of the AGS in other mod, then you need to localize these string separately in your mod

[2022-05-15 22:06] #33 closed

[2022-05-21 19:55] Woprok commented on #31
@cliffture Can you try again ? There is also separate AGS nomad version, so if you could give me feedback if it works better or its still same I would appreciate it.

[2022-05-21 19:55] #23 closed

[2022-05-21 20:00] Woprok commented on #19
@Seicing @w3k5 @Helly0000
Profanity filter is now creating issues with translations and prevents mod upload.
Both Russian and Chinese localization are disabled.

I would appreciate if you could update Chinese & Russian localizations and test if game allows them to be published. Once you are sure it allows it, create pull request or throw new localization file here. I will then update main mod.

[2022-05-22 04:02] Helly0000 commented on #19
My English is poor and I didn't get it. You mean the profanity filter works improperly on Chinese language therefore the MOD can't be uploaded?
I do encounter something wrong while uploading my mod which is based on your AGS. I can't finished uploading then I killed the game exe. And then I found the mod was published anyway however the name was changed. I thought it was AOE4 server. But now I bel

[2022-05-22 04:10] Helly0000 commented on #19
![image](https://user-images.githubusercontent.com/35934370/169678058-e75da2dd-c513-4580-86a3-178533bc9a70.png)
That is weird. My mod's name is 防守图测试（基于高级游戏设置）(A PVE mod testing based on AGS). But the uploaded mod's name is 这把我们四个真是太厉害了！(We four are so great this time!). I even don't know who wrote this words...

[2022-05-22 06:08] Woprok commented on #19
Yeah, profanity filter is checking every mod that is being uploaded. Then it creates report and prevents mod from being updated, if it finds anything. (Relic devs fixed issue where upload process was previously crashing the game, so now we have to deal with profanity filter blocking uploads.)

[2022-05-26 16:05] hilodfulaidien opened #36 "Please change the mod name to "nomad ags"."
The long-term situation is that very few people enter my room, but many people are in "nomad".
The name of this mod is AGS in the front and the back is hidden.、
Please put important keywords, where they can be seen.
Noobs are very much in this game, they don't actively try to understand the settings, they just enter, then exit, then find the next one.

[2022-05-26 16:15] #36 closed

[2022-05-26 16:28] Woprok commented on #36
If you think it will help, I did it. If you have some other feedback let me know.

[2022-06-09 09:07] atticus-lv opened #37 "Lost translation"
Once I remember there was a Chinese translation. But after some update it was disappear. Can you bring it back ?

[2022-06-09 10:11] atticus-lv commented on #37
ok, I will take some time to fix it :)

[2022-06-09 11:02] atticus-lv commented on #37
just make some changes and pull request, please check it
[9055f71](https://github.com/Woprok/AOE4-AdvancedGameSettings/pull/38/commits/9055f71ebf7ea0efc7c022a2af89315ac4cb8ae8)

[2022-06-11 09:22] Woprok commented on #37
![image](https://user-images.githubusercontent.com/37557138/173180338-bf2a35ec-cdfa-4e23-b881-d223a85a26fe.png)
I am not sure what is wrong with these chinese lines

3. and 4. issue are related to missing translation line...
383,,Team Conquest
384,,"Players are conquered only if all their teammates conquerable buildings are destroyed. Does not work with diplomacy teams, due to how relations work."

[2022-06-11 09:25] atticus-lv commented on #37
Got it, I will check it now. Is double quotation marks necessary in line 384?

[2022-06-11 09:34] Woprok commented on #37
Quotation marks is necessary only if comma is used in string.

[2022-06-11 09:35] atticus-lv commented on #37
Fine. Just create a new pull request

[2022-06-11 10:07] Woprok commented on #37
![image](https://user-images.githubusercontent.com/37557138/173183259-9d610e2e-e30f-4ca0-b173-beb9a2ff6b36.png)
![image](https://user-images.githubusercontent.com/37557138/173183362-396db517-c52b-4bd7-a199-6f785d9b2e33.png)

@atticus-lv tried 3 times to upload it and third attempt succeeded, so I am not sure if its working or no. Please check it out as I am not sure why it does not like it...

[2022-06-11 18:56] atticus-lv commented on #37
![image](https://user-images.githubusercontent.com/64118610/173201313-423b3719-21cb-4f7a-9394-38f79eae0d7c.png)
![image](https://user-images.githubusercontent.com/64118610/173201322-1ec1cab0-4362-4062-bec4-176122f0fc45.png)
![image](https://user-images.githubusercontent.com/64118610/173201326-d573016e-5b8b-4720-8b16-a3ed9d47b0ef.png)

It seems worked for me

[2022-06-11 18:58] atticus-lv commented on #37
Wait... I found lost the option : 'need market'

[2022-06-15 00:54] sordini1 opened #41 "Fatal Scar Error - Execution Paused"
Ran into this twice yesterday (Mon, June 13th, 2022) - where it gave a message "Fatal Scar Error - Execution Paused" midway through the game and the game would have sounds going - but completely paused otherwise. Couldn't move / click. Running on a Lenovo PC.

[2022-06-15 00:56] sordini1 opened #42 "Keep was placed on top of berries"
Ran into an issue where I tried the Keep spawn - and it would populate on top of berries making it only possible to grab a few berries instead of the whole.

[2022-06-16 00:59] sordini1 opened #43 "No Neural Markets?"
Played a version of this free for all and noticed there are no neutral markets. Is that a setting option? Don't see it as an option.

[2022-06-16 07:21] Woprok commented on #41
Please provide more informations, so I can replicate it locally and fix it...
https://github.com/Woprok/AOE4-AdvancedGameSettings#bug--other-issues

[2022-06-16 07:22] Woprok commented on #43
Neutral Markets are removed only in City-State Wars game mode. In Advanced Game Settings and Nomad AGS they should be spawned as long as map has them.

[2022-06-16 13:26] sordini1 commented on #41
![image](https://user-images.githubusercontent.com/107520218/174079804-d7e43cdd-6308-4da3-b42a-10e402e82d76.jpeg)

Had this happen again last night. It happened when I tried to attack an AI and destroy their last landmark. It repeatedly served up this message. I was able to pause and unpause to get it working again but the error kept happening when I tried to attack the last landmark again.

[2022-06-25 06:34] orientalsniper opened #44 "Fog of War is not eliminated when using the Nomad AGS"
The option is activated before starting the game.

[2022-06-25 20:29] orientalsniper commented on #44
@Woprok What's the difference between using vanilla AGS for a nomad game vs Nomad AGS?

[2022-06-25 20:34] Woprok commented on #44
@orientalsniper There is small difference as vanilla AGS always spawns TC and mod has to remove it. Nomad AGS never spawns TC, so it doesn't need to remove it. Other difference is just reduced amount of options...

[2022-06-25 20:36] Woprok commented on #44
Also I am not sure what is exactly the issue you are reporting. I will look into the problem some time after next patch probably.

[2022-06-25 21:18] orientalsniper commented on #44
The issue is the option to remove fog when player is eliminated is not working. We are making a tournament and the host will surrender at minute 0 to spectate game so they can read [ALL] chat

[2022-06-25 22:56] Woprok commented on #44
@orientalsniper any other issue or request ?

[2022-06-25 22:56] Woprok commented on #44
Also this should be fixed now, so test it and let me know

[2022-06-25 22:58] Woprok commented on #42
I  can address this once I do bigger update, but it might not be perfect as keeps will no longer spawn same distance from starting TC as new position will have to be found for them near the current one, if its invalid

[2022-06-25 23:00] Woprok commented on #37
I needed to update mod, but once again update process is crippling my effort to maintain localizations. So due to that Chinese localization is once again unavailable, I am sorry for inconvenience.  Hopefully Relic will resolve the issue soon, so I can bring it back.

[2022-06-26 20:25] orientalsniper commented on #44
I can confirm issue is fixed, I don't know if I should open up a new issue, but the None option for Allied vision does not work. We want to forbid shared vision, so this is something we consider as important. This is for Nomad AGS.

[2022-06-26 21:10] Woprok commented on #44
Great, I fixed the issue with Allied/Team vision None, it should now work properly. Players will still receive notification, but they will have no vision of their allies.

I really don't need more open issues :D I get nothing from solving them, other than good feeling when I can close them :D

[2022-06-26 21:43] orientalsniper commented on #44
I can confirm None for Team Vision works, but is there a way to turn off Team Vision when a Treaty (5 mins for example) is set?

At the moment, if a treaty is set in a nomad game, everyone knows where everyone is gonna settle their TC.

[2022-06-26 22:22] Woprok commented on #44
@orientalsniper Team Vision is currently still tied to Team Victory (it made sense when I wrote it months ago... might have not been best decision)

Team Victory -> FFA & Team Vision -> Any => Noone will have vision during treaty or during the game for any of their mutual "allies"
Team Victory -> Initial Teams & Team Vision -> Requires Market/Always => Only teams setup in lobby will share vision d

[2022-06-26 22:29] orientalsniper commented on #44
Did you make a recent change? I'm getting a downloaded mod was corrupt.

[2022-06-26 22:40] Nomadisbest opened #45 "Unable to have more than 6 villagers"
When selecting starting villagers, no matter what is selected, always starts with 6.

[2022-06-26 22:50] Woprok commented on #44
Thanks for letting me know, it looks like Relic server once again failed to accept update. It should be fixed now hopefully.

[2022-06-26 22:53] orientalsniper commented on #44
Everything works now! Did you deploy a new change to Team Vision? Even with treaty it respects No Team Vision.

Do you mind being credited in our upcoming tournament?

[2022-06-26 23:31] Woprok commented on #44
Only fixed Team Vision None to work properly. (Bug caused it to never remove vision from players)

That would be cool.
Hopefully it will work well during the tournament. I am still not sure how stable it's compared to other Nomad mod. I have done lot of rewriting for my mod to work with all the additional options. Definitely try to run few full games to test it. There might still be few easy to tr

[2022-06-26 23:42] Woprok commented on #45
Next time include more information please. I tested it and it definitely spawns always 6 vills whenever standard AGS is using Nomadic option. It will be fixed in next version.

[2022-06-26 23:49] Woprok commented on #41
@sordini1 can you list options that were enabled ? I need to enough information to figure out which part of the mod is exactly causing it.
Alternatively if you are able to trigger it easily on your own you can run the game with -dev option and it will provide error message. But that's advanced way.

[2022-06-27 00:30] orientalsniper commented on #44
I must have set victory condition as to something else other than FFA, because it works now (no shared vision with all the players) with 5 minutes treaty.

[2022-06-27 00:30] #44 closed

[2022-07-07 23:06] orientalsniper opened #46 "Request for Nomad AGS: spawn 1 scout"
Hello, not a bug, would it be possible to have the option to spawn 1 scout with the villagers for Nomad AGS?

[2022-07-08 09:05] Woprok commented on #46
Hi, definitely possible. I will include it in mod update after season 2 update.

[2022-07-11 18:14] Userr017 opened #47 "Changes to the function "treaty""
Can you make changes to the "treaty" function so during the "treaty" time each team does not receive every team's messages and "pings" notifications?

Now if a "treaty" time is set, every team in the game will receive messages and "ping" notifications, even if you only use the function to send messages to your own team.

Everything works fine when the "treaty" time is over, so the "treaty" functio

[2022-07-12 19:44] Woprok commented on #47
Sorry, this is not possible to fix with current tools. Majority of messages and pings including notifications are done inside of scripts&code we don't have access to.

[2022-07-13 11:47] #42 closed

[2022-07-13 11:47] #31 closed

[2022-07-13 11:48] Woprok commented on #31
No additional information was provided, so I will consider it fixed. If it happens again create new issue.

[2022-07-13 11:50] Woprok commented on #43
Without more information I can't classify it as issue with the mod. Mod does not have a single line of code that would cause removal of neutral markets outside of the City-State Wars game mode. In CSW its intended by design to have no neutral markets.

[2022-07-13 12:01] #45 closed

[2022-07-13 16:37] Nomadisbest commented on #45
Thank you!

On Wed, Jul 13, 2022 at 6:02 AM Miroslav Valach ***@***.***>
wrote:

[2022-07-13 17:54] Userr017 commented on #47
This bug in the game? Game developer fix it?

[2022-07-14 20:25] Userr017 opened #48 "Latest version "downloaded mod was corrupt""
I get notification "downloaded mod was corrupt" when try install latest mod version?

[2022-07-14 20:38] Woprok commented on #48
Fixed.

[2022-07-14 20:38] #48 closed

[2022-07-15 08:30] vjonasv opened #49 "Downloaded mod was corrupt"
Hello,

This message appeared yesterday. I deleted the mod and reinstalled, same message. Happens to my friends too.

Good day.

[2022-07-15 09:30] Woprok commented on #49
It should be fixed now.

[2022-07-15 09:30] #49 closed

[2022-07-15 11:30] vjonasv commented on #49
Wow thanks alot.

[2022-07-16 07:06] cliffture opened #50 "starting villagers bug"
you got 1 more scout and 6 more villagers than your setting,,,

[2022-07-16 09:33] Woprok commented on #50
Next time write more details, so I don't have to figure out which option and game mode is a problem.

AGS mode, Nomadic Settlement is spawning both prefab and script version of starting units. Issue will be fixed in next update... In meantime use Nomad AGS mode as that version is working correctly.

[2022-07-23 01:59] SirMishaa commented on #50
Hello there, thank you for your work!

Any idea when the issue will be fixed? It's kind of boring
I could make a PR, but I don't know well the modding of AOE 4 :/

[2022-07-23 06:46] Woprok commented on #50
Nomad AGS should work fine with AI if you are playing it as multiplayer custom game (even if you are solo). AI behaves better with mods in multiplayer due to how AI connects to game...

Fix will be most likely in two weeks once I have again access to better PC... I had lot of problems trying to update mod recently, when I used my older notebook...

[2022-08-03 08:10] JoshVNZ opened #51 "Bad data Mod"
Great mod, only issue is I get the below crash when ever I view the end game summary or attempt to save during a round.
![Screenshot 2022-08-02 214808](https://user-images.githubusercontent.com/110526949/182557854-172e2997-c986-4008-81f2-6936450158ab.png)

[2022-08-03 11:11] mwilde3 commented on #51
Got this same issue. Regardless of game settings or play time, there is a Bad data Mod error when saving.

Amount of PLAYERS & AI's and their teams.
--> Any configuration and team
Map, seed, biome.
--> Any map I've tried.
Tuning pack used.
--> None in my case
Options used in the match.
--> All default settings.
What happened before the crash or bug.
--> Just click the save button.
C:\Users\USERNAM

[2022-08-04 18:26] mwilde3 commented on #51
[luastatesaver.2022-08-04.20-20-32.txt](https://github.com/Woprok/AOE4-AdvancedGameSettings/files/9262272/luastatesaver.2022-08-04.20-20-32.txt)
[DataCRC000.txt](https://github.com/Woprok/AOE4-AdvancedGameSettings/files/9262273/DataCRC000.txt)
[unhandled.2022-08-04.20-20-32.txt](https://github.com/Woprok/AOE4-AdvancedGameSettings/files/9262274/unhandled.2022-08-04.20-20-32.txt)

And some logfiles

[2022-08-05 09:58] Woprok commented on #51
I plan to look into it, but I still do not have access to my computer and my current laptop is barely able to run the game, which causes lot of issues and mainly makes fixing anything related to bad mod data extremely time consuming. ( I expect to look into it and hopefully fix it around 15 - 20 August)

[2022-08-05 11:22] vjonasv commented on #41
Hello Woprok,

I just wanted to let you know that Relic released an update yesterday and since then your mod does not function properly anymore. We did lots of testing between friends last night and we found that if we play a custom game on any map with just us versus an AI, the mod works (no Fatal Scar Error). However, whenever we played us 4 versus 4 other players, we kept getting the error or j

[2022-08-05 11:53] Woprok commented on #50
Fixed in new update.

[2022-08-05 11:53] #50 closed

[2022-08-05 11:57] Woprok commented on #41
It was caused by Relic changing orange color... It should be fixed now.

[2022-08-06 11:47] vjonasv commented on #41
It works! Thanks a lot

[2022-08-07 08:04] JoshVNZ commented on #51
If there's any info I can provide please let me know.
Such a good mod.

[2022-08-07 09:07] JoshVNZ commented on #51
Also just noticed that if you do a skirmish round with regicide and nomadic start, the king never seems to garrison, ends up attacking on first wave which means round can end very quickly.

[2022-08-07 15:14] Woprok commented on #51
It works only if AI starts with placed TC or Keep. In all other cases forced garrison will not happen as it would be potential source of problems in multiplayer.

[2022-08-08 07:36] JoshVNZ commented on #51
Ah I see, that makes sense.
I'm not sure if other users have made any wishes, I've done probably 20+ rounds using this mod, I think a cool feature would be the ability to limit unit types kind of like you do with "no docks".
I imagine it could be something like, no siege units or no cavalry units.

Thanks again for such an awesome mod.

[2022-08-10 11:42] mjeri opened #52 "Naming of Handicap"
Thanks for the great mod!

I got confused by the naming of handicap and that it actually provides a bonus. I thought at first it would provide something negative, like reducing the health amount and such. I think it would be more straight-forward naming it bonus right away. What do you think about that?

[2022-08-10 13:01] Woprok commented on #52
AOE and AOM always used handicap as bonus. (It looks like SC2 uses it as pure penalty)

I agree that name does not fit perfectly, but it's term that many players are used to. Renaming it now would probably cause more confusion between players...

For example AOE2 changelog included once
![image](https://user-images.githubusercontent.com/37557138/183907319-32cc2667-c24d-4df3-af7b-0ac4efcd49ff.png)

[2022-08-14 17:51] ddietz89 opened #53 "Starting villagers ignored"
The "starting villagers" count setting is ignored when doing a nomadic start and always starts with 6 regardless of setting. Doing a settled start seems to respect the requested starting villagers.

Amount of PLAYERS & AI's and their teams.
* Always happens regardless of player/AI/team settings

Map, seed, biome.
* Only been tested with megarandom map

Tuning pack used.
* None

Options used in the

[2022-08-19 21:17] nextnely commented on #51
@Woprok any progress on this issue?

[2022-08-20 15:52] Woprok commented on #53
Thanks for report.
Fixed in new new mod version.

[2022-08-20 15:52] #53 closed

[2022-08-20 15:53] #41 closed

[2022-08-20 15:56] Woprok commented on #51
Save issue fixed in new new mod version (3.5.18). @JoshVNZ @nextnely @mwilde3

@JoshVNZ create separate issue if you want new options

[2022-08-20 15:56] #51 closed

[2022-08-29 10:09] mjeri commented on #52
Sorry for coming back so late! \o/

I can follow the reasoning to not confuse people who have been with the franchise for a longer time. Also, the description is very clear. Thanks for responding and the nice add-on, love it!

[2022-08-29 10:09] #52 closed

[2022-08-30 10:57] joker0077777 opened #54 "sparmen box"
thx for what u did and hope end age then the issue with sparemen show as a box and said this mod not precached its not pretty i donot know why hope u hope me with it

[2022-09-18 00:33] Drfeelgoodsad opened #55 "A.I refuses to build walls in 99% of the cases"
Greetings! First i wanted to say thank you for this very awesome mod, i wish this would have been standard with the release of the Game.
Yet 1 year later we still are waiting :(

Anway, i just wanted to tell you that i stumbled over a problem with your Mod
Took me 100 hours to figure out why AI didn't wanted to place walls in the first place.
When i got the game at free2play week at steam i direct

[2022-09-21 14:21] Woprok commented on #55
TLDR: I didn't change anything to cause AI to behave even more stupid then normal... Basically any gamemode will make AI worse...

Explanation:
Any modded game causes AI to behave worse in certain way as it isn't coded to play with any change of rules.
Singleplayer game cause AI to behave even worse due to reasons. This can be easily visible with playing Nomad in Singleplayer and Nomad in Multipla

[2022-09-21 14:21] #55 closed

[2022-09-26 15:10] Happygamer202 opened #56 "Religious single central site causes game to crash when ticked."
As title.
Basically when u have that on, the game will crash at loading screen. Hope you can fix it.

[2022-09-26 16:13] Woprok commented on #56
Live or PUP version of the game ? Also it would be good if you could provide more info, I can't replicate it

[2022-09-28 05:25] rbrash1287 opened #57 "Mongols: Units becoming stuck around Silver Tree after destruction"
This has happened quite a few times that I have kept up with, and figured it was time to try addressing it for possible solutions.
I have only saw this happen on games with AGS and Forest Nothing, in which if a Silver Tree landmark is destroyed, sometimes traders going to and from it will become stuck.  This issue will become so bad that it bogs down game for every player, reducing fps to less tha

[2022-09-28 09:33] Woprok commented on #57
It's definitely something Relic will have to patch, if they can figure out why it's happening. This is unlikely to be caused by AGS as I don't affect pathfinding in any way with my mod.

It's possible that it might be caused by Forest Nothing due to fact that forest occupies most of the map and pathfinding is always wonky on that map...

[2022-10-03 09:21] Marco-Cigna opened #58 "Game crashes after handicapped player landmark gets destroyed"
Recently when playing AOE4 using the advanced game settings mod, we played a 7v1 with the 1 player being handicapped. However, upon destroying one of his landmarks the game crashed for everyone stating a "Fatal Scar Error - Execution Paused" error. This has happened twice since we used this mod triggering both times upon the destruction of the handicapped players landmark. Please let me know if yo

[2022-10-05 04:43] rbrash1287 commented on #57
Yeah that's pretty much exactly what I'm leanin' towards too.  I've followed you since you started AGS here on Github, and have learned a good bit from just observing your progress working out the kinks and whatnot.

I just wish Forest Nothing's creator would set up something similar to what you have here on ghub.  Honestly, I'm not sure if he's even reachable. With that map and AGS running togeth

[2022-10-08 15:30] Happygamer202 commented on #56
On Live version. I can't recall which map it was but i mean... does that option have to be used on a random generated map instead of a crafted one?

[2022-10-08 16:18] Woprok commented on #56
I have never tested it on crafted map, it was kind of intended for random generated map. If you are saying it's caused by crafted map, then I might at least be able to find why it crashes.

[2022-10-08 16:45] Happygamer202 opened #59 "Settings cause map resource (trees, deposits, bush etc.) unable to fade away when consumed."
As title.
This bug happens so often that I presume you should have already noticed it?
Some resource sites cannot be clicked or chosen (the action you use to check its property), they can still be harvested though. And those sites do not disappear when they run out. They linger on the map blocking any construction command on top of them, and then vanish after like 10 min.
I originally took it as a

[2022-10-09 12:09] MujiSayed opened #60 "host can see enemy pings/communications"
Apologies in advance if formatting is incorrect but an issue i've come across when hosting games is that i'm able to see enemy team's pings and team chat. Please let me know if there's any way i could provide further info/logs etc

[2022-10-09 19:45] Happygamer202 commented on #60
You probably had treaty on. When treaty is in effect, enemies will be deemed as allies thus you share pings and communications.

[2022-10-10 05:14] Happygamer202 commented on #59
Ok i think i probably have found out why this issue occurs.
When i have the map 'explored' or 'revealed', this bug will very likely appear.
But when i switch to 'concealed', all the resource sites work properly.
I have no clue why it's like that but it seems to be the way to fix it.
Also the game seems to have a high chance of crashing if u have the map revealed or explored while having other sett

[2022-10-11 22:14] MujiSayed commented on #60
Thanks, will give it a check sometime today and confirm.

[2022-10-23 15:05] calzoney opened #61 "'Execution Paused - Fatal scar error'"
Whenever trying to kill a group of enemies or when you are about to turn a building of theirs to rubble, you are prompted 'Execution Paused - Fatal scar error' and cannot continue the game to the end. You are done. I have isolated it to AdvancedGameSettings.

[2022-10-27 18:04] s4lino opened #62 "Feedback:ideas"
Dear AOE 4 Advanced Game Settings Team,

This is a job well done thus far, made game more fun and more balanced when different level of players are needed to play together.

I was wondering is there a way to add batch/faster trade buy/sell increments say 3 categories: 100 / 1k / 10k and same for donate to ally.

The other thing although also more in game then settings/rules per say is to cancel gl

[2022-10-28 14:30] AzzeddineXT opened #63 "what is the replaced AI difficulty?"
what is the replaced AI difficulty when someone leaves game early? it seems very weak last time i checked it
can you add option to control it?
another suggestion can you add option to increase all resources amount?

[2022-10-30 12:17] dirtyharryiv opened #64 "House pop cap"
Hi!

Is it possible to have an option that changes the pop cap of houses?
I tried to achive it via a tuning pack but iis not possible at the moment...
https://wiki.aoemods.com/wiki/Population_Cap

Either way, keep up with the great work!

[2022-10-31 20:29] Woprok commented on #63
AI difficulty is determined by  C++ code outside of the script. You can probably figure it out quite easy by having other player drop at the start of the game and then observe how fast AI is compared to other difficulty AIs.

I will consider it for future update.

[2022-11-11 20:02] MujiSayed commented on #60
Closing issue as what @Happygamer202 said is correct.

[2022-11-11 20:02] #60 closed

[2022-11-14 02:10] Johick opened #66 "Issue with New Civs"
Unable to play using Ottomans (fatal error scar/no world generation)

[2022-11-14 13:58] Woprok commented on #66
Based on my quick test it works, so I will need you to provide more information, so I can replicate what kind of game you were setting up and pinpoint the problem.
Also please check if you are using correct & latest version of the mod.

[2022-11-14 17:06] Johick commented on #66
I have attached screen shots of my game settings. I have even unsubscribed and re-downloaded the mod and played on the default settings and have been able to replicate it. If there is any other info that would help let me know

![Screenshot (6)](https://user-images.githubusercontent.com/118145997/201720990-bc50c145-2557-4169-8336-97d428c40261.png)
![Screenshot (1)](https://user-images.githubuserco

[2022-11-16 20:25] ruben-balea opened #67 ""Annihilate everything" includes the dead sheep that the enemy was gathering food from"
It seems that dead sheep become another unit of the player who killed them for food, and of course you can't kill dead sheep again, so the only way to finish the match is to use your villagers to gather food from those dead sheep, it sounds easy but it is very difficult and time consuming to **find** a dead sheep on a giant map.
I don't know if that "annihilate everything" can be tweaked so that i

[2022-11-25 20:57] Phireh opened #68 "Negative handicap?"
I was wondering if there is a way to make the handicap minuses instead of bonuses. That way better players can help newbies without them building wrong muscle memory about how much money they have with their openings.

Thanks for the cool mod, btw.

[2022-11-28 07:07] lanzehao commented on #37
@Woprok waht's the current block of chinese localizations plz ? I want to do sth help and bring chinese back

[2022-11-28 18:09] Woprok commented on #37
@lanzehao
Primarily it really depends if Relic changed something with how they check localization for mods.

I can try to update the mod with localization again. But for that I will require someone to update Chinese localization file.

[2022-11-28 18:13] Woprok commented on #67
Interesting, does that happen in non-moded games as well, when you are playing without win conditions ?

Annihilation is basically same as in normal games, when you turn off all win conditions. If it's considering sheeps as unit, then there is something wrong with tags attached to sheep (and Relic should fix that)

[2022-11-28 23:50] ruben-balea commented on #67
Well, really I don't know. So far it only happened to me once in a multiplayer game and I assumed it was due to the annihilating everything setting.
No one knew what else to kill to win until I accidentally clicked on a sheep carcass near a destroyed TC and I found out it still was an unit of one of the enemies, there were deer carcasses there too but those weren't any player's units.

Now I was g

[2022-11-29 11:34] ruben-balea commented on #67
I tried to watch the replay, one of the players left the game after a couple minutes for no apparent reason, perhaps he lost communication with the server, then about six minutes later the replay threw a synchronization error and stopped.
I imagine that this error was also present in the original match but for some reason the remaining players were all able to continue playing until the end but ca

[2022-11-29 11:34] #67 closed